<ul>
	<li><label>Name</label><input type="text" name="award_name" placeholder="E.g. Certificate in ..." value="{{name}}"/><li>
	<li><label>Awarder</label><input type="text" name="award_awarder" placeholder="E.g. Google, India" value="{{awarder}}"/><li>
</ul>
<hr>
