<ul>
	<li><label>Name</label><input type="text" name="project_name" placeholder="E.g. Sample Project" value="{{name}}" /><li>
	<li><label>Link</label><input type="text" name="project_link placeholder="E.g. www.sampleproject.com" value="{{link}}"/><li>
	<li><label>Description</label><input type="text" name="project_description" placeholder="Ex. iOS Development" value="{{description}}" /><li>
</ul>
<hr>
