<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	
	<title>InstaResume.....your resume in seconds</title>

	<!-- Bootstrap itself -->
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" type="text/css">
	
    <!-- Custom styles -->
	<link rel="stylesheet" href="css/bookmystyles.css" type="text/css">
    <link rel="stylesheet" href="css/bootstrap-social.css" type="text/css">

	<!-- Fonts -->
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css">

	<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
</head>

<!-- use "theme-invert" class on bright backgrounds, also try "text-shadows" class -->
<body class="theme-invert">

    {{{body}}}

</body>
</html>